ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
    padding: 0;
    margin: 0;
    border: 0;
}
img {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.x-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.y-center {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.x-y-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pr {
  position: relative;
  top: 0;
  left: 0;
}

.fcc {
  color: #cecece;
}

.white {
  color: #fff;
}
